@model BusinessEntities.UserDetails
@{

    Layout = null;

}

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>

</head>

<body>

    <div>
        @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
        @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))
        {
        <table border="1" style="border:solid" align="center">
                <tr>
                    <td>@Html.LabelFor(c => c.UserName)</td>
                    <td>@Html.TextBoxFor(x => x.UserName)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Password): </td>
                    <td>@Html.PasswordFor(x => x.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="BtnSubmit" value="Login" />
                    </td>
                </tr>
            </table>      
        }


    </div>

</body>

</html>